.banner-box{
    background-image: url('https://www.sincoole.com/Uploads/20211221/149535117561c18a3e336de.jpg');
    background-repeat: no-repeat;
   background-position: cover;
   width: 100%;
   height: 80%;
}