.banner-box{
    background-image: url('https://www.bosch-professional.com/ae/media/professional/specials/highlights/renovation/o05_a_5/o05-a_renovation-campaign_1920x768_webp.webp');
    background-repeat: no-repeat;
   background-position: cover;
   width: 100%;
   height: 80%;
}